html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
	font-family: 'Roboto', sans-serif;
}

.wrapper{
	position: relative;
	margin: 0 auto;
	width: 1000px;
	height: 100%;
	box-shadow: 0 0px 12px rgba(0, 0, 0, 0.7);
}

header{
	width: 1000px;
	height: 150px;
	background-color: #fdfdfd;
}

.selected{
	border-top: solid 4px white; 
}

.header-nam{
	width: 350px;
	height: 100px;
	margin: 25px 400px 0 50px;
}

#logo{
	width: 100px;
	height: 100px;
}

#mainM{
	width: 1000px;
	height: 50px;
	background-color: #235dff;
}

li {
    float: left;
    list-style: none;
    padding-top: 10px;
    font-size: 25px;
    margin-left: 14%;
    color: white;
}

li > a {
	color: white;
	
}

li > a:hover {
	color: white;
	text-decoration: underline;
	
}

#fishT{
	margin: 0 auto;
	width: 50%;
	height: 600px;
}

main{
	width: 50%;
	margin: 0 auto;
}

.main-title{
	margin-top: 50px;
}

.bottomspace{

	margin-bottom: 50px;

}

main > img {
	border-radius: 25px;
	margin-bottom: 50px;
	width: 100%;
}

#fishT img{
	width: 50%;
	height: 600px;
}

#signUp{
	float: left;
	width: 100%;
	height: 600px;
	background-color: #fdfdfd;

}

h1, h3{
	color: #235dff;
	font-size: 50px;
	margin-top: 50px;
	margin-bottom: 30px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

h3{
	font-size: 35px;
}

hr{
	margin-bottom: 30px;
	width: 80%;
}

input{
	margin-bottom: 50px;
	height: 30px;
	width: 60%;
	font-size: 20px;
	text-align: center;
	margin-left: 20%;
}

#boton{
	background-color: #235dff;
	font-size: 20px;
	text-align: center;
	margin-left: 20%;
	margin-bottom: 30px;
	height: 40px;
	width: 60%;
	color: white;
	border-radius: 20px;
}

input{
	border-radius: 5px;
}

p{
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0 0 15px 0;

}